@import 'modern-normalize/modern-normalize.css';
@import "theme/theme.css";

$headlines-font-family: 'Kanit';
$body-font-family: 'Kantumruy Pro';

:root {
    --md-ref-typeface-brand: #{$headlines-font-family};
    --md-ref-typeface-plain: #{$body-font-family};
}

body {
    font-family: #{$body-font-family};

    background-color: var(--md-sys-color-background, #fff);
    color: var(--md-sys-color-on-background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: #{$headlines-font-family};
}

md-navigation-drawer, md-navigation-drawer-modal {
    //--mdc-theme-surface: var(--md-sys-color-background, #fff);
    //--mdc-theme-primary: var(--mdc-theme-primary2, variables.$primary);

    //noinspection Stylelint
    > md-list md-list-item-link {
        margin-left: 16px;
        display: block;
        width: 85%;
        --md-list-item-list-item-container-shape: 100px;
        --md-ripple-shape: 100px;
        //--md-focus-ring-shape-start-start: 100px;
        //--md-focus-ring-shape-start-end: 100px;
        //--md-focus-ring-shape-end-start: 100px;
        //--md-focus-ring-shape-end-end: 100px;

        &[active] {
            --md-list-item-list-item-container-color: var(--md-sys-color-primary-container, #EADDFF);
        }
    }

}


md-icon svg {
    width: var(--_with-icon-icon-size, var(--_icon-size, var(--_size)));
    height: var(--_with-icon-icon-size, var(--_icon-size, var(--_size)));
    line-height: 0;
}

:is(md-list-item, md-list-item-link) md-icon {
    padding-left: 16px;
    --md-icon-color: var(--_list-item-leading-icon-color);

    // TODO: MD Tokens sets the icon size to 18px, but the list item icon is 24px per the specs.
    //svg {
    //width: var(--_list-item-leading-icon-size, var(--_with-icon-icon-size, var(--_icon-size, var(--_size))));
    //height: var(--_list-item-leading-icon-size, var(--_with-icon-icon-size, var(--_icon-size, var(--_size))));
    //    line-height: 0;
    //}
}
