:root {
    --md-sys-color-background: #fdf8fd;
    --md-sys-color-on-background: #1c1b1e;
    --md-sys-color-surface: #fdf8fd;
    --md-sys-color-surface-dim: #ddd8dd;
    --md-sys-color-surface-bright: #fdf8fd;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f7f2f7;
    --md-sys-color-surface-container: #f2ecf1;
    --md-sys-color-surface-container-high: #ece7eb;
    --md-sys-color-surface-container-highest: #e6e1e6;
    --md-sys-color-on-surface: #1c1b1e;
    --md-sys-color-surface-variant: #e7e0eb;
    --md-sys-color-on-surface-variant: #49454e;
    --md-sys-color-inverse-surface: #313033;
    --md-sys-color-inverse-on-surface: #f4eff4;
    --md-sys-color-outline: #77737d;
    --md-sys-color-outline-variant: #cac4cf;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #6750a4;
    --md-sys-color-primary: #513a8d;
    --md-sys-color-on-primary: #ebe1ff;
    --md-sys-color-primary-container: #765fb4;
    --md-sys-color-on-primary-container: #f5edff;
    --md-sys-color-inverse-primary: #cfbcff;
    --md-sys-color-inverse-on-primary: #381e72;
    --md-sys-color-secondary: #5f52a7;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #baadff;
    --md-sys-color-on-secondary-container: #493b8f;
    --md-sys-color-tertiary: #7e2b4d;
    --md-sys-color-on-tertiary: #ffdde5;
    --md-sys-color-tertiary-container: #aa4f71;
    --md-sys-color-on-tertiary-container: #ffecef;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002
}
